<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask upload file</title>
</head>
<body>
    <h2>Select a file to uplodd</h2>
    <form method="post" action="/upload" enctype="multipart/form-data">
        <dl>
            <p>
                <input type="file" name="file" autocomplete="off" required>
            </p>
        </dl>
        <p>
            <input type="submit" value="Submit">
        </p>
    </form>
    <br><br><br>
    <form>
        <h3> {{predictions}} </h3>
    </form>
    <br><br><br>
    <form method="GET" action="/get_img" enctype="multipart/form-data">
        <p>
            <input type="submit" value="See grad_cam image">
        </p>
    </form>
    <!-- <img src= {{grad_img}}  width="500" height="600"> -->
</body>
</html>